body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: serif;
}
.container {
  display: block;
  width: 500px;
  margin: 125px auto 0;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: rgb(100, 100, 100);
  font-size: 20px;
  width: 70px;
  margin: 10px 0 0;
  font-family: serif;
  cursor: pointer;
}
button:hover {
  color: rgb(58, 58, 58);
}

h3,
label[for='new-habit'] {
  color: rgb(100, 100, 100)
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid rgb(100, 100, 100)
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid rgb(221, 221, 221);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: serif;
  color: rgb(136, 136, 136);
}
input[type="text"]:focus
{
  color: rgb(51, 51, 51);
}

/* New Task */
label[for='new-habit']
{
  display: block;
  margin: 0 0 20px;
}

input#new-habit
{
  float: left;
  width: 350px;
}
p > button:hover
{
  color: rgb(15, 197, 124);
}


li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid rgb(238, 238, 238);
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 20px;
  line-height: 40px;
  width: 250px;
  padding: 0 0 0 10px;
}
li >  input[type="text"] {
  width: 250px;
}
li > .delete:hover {
  color: rgb(207, 35, 35);
}


#completed-habits label
{
  text-decoration: line-through;
  color: rgb(136, 136, 136);
}

ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}
